.block-menu {
  margin-top: 50px;
  border: 1px solid #7c1a1b;
  padding: 20px 0 80px;
  position: relative;
  background-color: white;
  background-image: url(../../../../../images/icons/athletes-lg.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: bottom 15px right 15px;
  margin-bottom: 30px;


  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 35px;
    height: 30px;
    background-image: url("../../../../../images/icons/triagle.png");
    background-size: cover;
    right: -1px;
    bottom: -30px;
  }

  @media (min-width: $screen-lg-min) {
    left: 50px;
  }

  ul {
    li {
      margin-bottom: 10px;

      &.active{
        a{
          background-color: #596670;
          color: white;
        }
      }

      a {
        display: inline-block;
        font-size: 17px;
        color: #000;
        text-decoration: none;
        padding: 5px 30px;
        width: 100%;

        &:hover {
          color: #7c1a1b;
        }
      }
    }
  }
}
