@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css);

.container{
  max-width: 100% !important;
}

.bg-gray {
  background-color: $brand-gray;
}

#alpha-people-filter{
    list-style: none;
    padding-left: 0;
    li{
      display: inline-block;
      margin-right: 5px;
      a{
        color: $brand-red;
      }

      &:first-child{
        a{
          font-weight: bolder;
        }
      }
    }
}

.view-profiles{
  margin-top: 30px;
  .view-content{
    h3{
      margin-bottom: 10px;
      font-weight: bold;
      color: $brand-red;
      font-size: 19px;
      border-bottom: 1px solid $brand-red;
      padding-bottom: 5px;
    }
  }
  table{
    width: 100%;
  }
  td{
    padding-right: 10px;
    padding-bottom: 15px;

    .views-field-field-profile-image{
      float: left;
      margin-right: 15px;
    }

    .views-field-title{
      margin-top: 30px;
      font-weight: bold;
      a{
        color: $brand-red;
      }
    }
  }
}

.link-red {
  color: #7c1a1b;
    text-decoration: none;
    &:hover,
    &:focus {
      color: lighten(#7c1a1b, 10%);
      text-decoration: none;
    }
}

.text-underlined {
  border-bottom: 1px solid $brand-red;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

#block-views-profiles-block-1{
  .block-title{
    font-weight: bold;
    color: $brand-red;
    font-size: 19px;
    border-bottom: 1px solid $brand-red;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .table-striped{
    font-family: 'Tinos';
  }

  .table-striped > tbody > tr:nth-of-type(n+1){
    background: #ebebeb;
  }
  .table-striped > tbody > tr:nth-of-type(2n){
      background: #f6f5f3;
    }

  .views-field-title{
    a{
      color: $brand-red;
      padding-left: 30px;
      background: url(../../../../../images/icons/icon.png) no-repeat ;
      background-size: 20px;
    }
  }
}

.page-header{
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: none;
  margin-bottom: 50px;
}

//@mixin custom-link($link-color) {
//  color: $link-color;
//  text-decoration: none;
//  &:hover,
//  &:focus {
//    color: lighten($link-color, 10%);
//    text-decoration: $link-hover-decoration;
//  }
//  &:focus {
//    @include tab-focus;
//  }
//}

.text-red {
  color: $brand-red;
}

.link-black {
  color: #000;
  text-decoration: none;
  &:hover,
  &:focus {
    color: lighten(#000, 10%);
    text-decoration: none;
  }
}


.no-m-top {
  margin-top: 0!important;
}

.navbar-brand {
  font-size: 12px;
  &> img {
    display: inline-block;
  }
}

.accordion{
  @media (min-width: $screen-sm-min){
    float: right !important;
  }
}

.white-bg{
  background-color: #fff;
  padding-top: 50px;
  @media (min-width: 1200px){
    padding-left: 70px;
  }
}

.field-name-field-profile-image{
  float: left;
  margin-right: 10px;
}

.view-events{
  tr{
    background-color: white !important;
    border-top: 2px solid #d6d8d8;

    td{
      border-top: none !important;

      &:first-child{
        border-right: 2px solid #d6d8d8;
      }
    }

    .views-field-field-event-date{
      font-weight: bold;
      text-align: center;
    }

    .views-field-title{
      font-weight: bold;
      color: $brand-red;

      .date-display-single{
        color: #333333;
        font-weight: normal;
      }
    }

    &:first-child{
      border-top: none;
    }
  }

}

.event-table{
  min-width: 500px;


  .description{
    width: 200px !important;
  }
  h5{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
  }

  td:first-child{
    border-right: 1px solid $gray-lighter;
    text-align: center;
  }

  tr:last-child{
    border-bottom: 1px solid $gray-light;
  }
}

.event-list{
  h3{
    margin-bottom: 40px;
  }

  td:first-child{
    font-weight: bold;
  }

}

footer{
  margin-top: 40px;
}


