.footer {
  .col-lg-8 {
    background-image: url("../../../../../images/footer-logo.png");
    background-size: 300px;
    background-position: center right;
    background-repeat: no-repeat;
  }

  @media (max-width: $screen-xs-max) {
    .col-lg-8 {
      padding-bottom: 100px;
      background-size: 250px;
      background-position: center bottom;
    }
  }

  h4{


  }

  background-image: linear-gradient(to bottom, #4b2219, #661e1a);
  padding: 30px 0;
  color: #fff;

  address{
    a{
     color: white;

      &:hover, &:focus{
        color: #858c8e;
      }
    }
  }
}
