.region-slide-area{
  margin-bottom: 20px;
}

.slide-area-region {
  position: relative;

  .views-field-title {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, .4);
    padding: 30px;
    color: #fff;
    font-size: 20px;
    font-family: "Tinos";

    @media (max-width: $screen-xs-max){
      font-size: 12px;
      bottom: 0;
      padding: 10px;
    }

    h3 {
      margin: 0;
      font-weight: 300;
    }
  }

  @media (max-width: $screen-xs-max) {


    .banner-text {
      padding: 15px;
      bottom: 0;

      h3 {
        font-size: 16px;
      }
    }
  }
}

.accordion{

  font-family: 'Tinos';
  .block-accordion-blocks{
    padding: 10px 5px;
    border: 1px solid #596670;
  }
  .accordion_blocks_container{
    .ui-accordion-header{

      border-radius: 0;
      border: none;
      background: #596670;
      a{
        color: white;
      }
    }

    .ui-accordion-content{
      padding: 5px;
      border: none !important;
    }
  }
}

.news-post {
  margin-bottom:50px;

  h4{
    font-weight: bold;
  }

  img {
    margin: 0 15px 0 0;
  }
}

.news-links {
  li {
    margin-bottom: 10px;
  }
}

.panel-group {
  padding: 10px;
  border: 1px solid $brand-red;

  .fa {
    font-size: 22px;
  }
}

.placeholder-block{
  height: 150px;
  background-image: linear-gradient(to bottom, #4c2219, #7b1b1c);
}
