.main-container{
  .main-content>.col-md-10{
    background: white;

  }

  @media (min-width: 767px){
     position: relative;
     top: -100px;
     margin-bottom: -100px;

    .main-content{
      padding-top: 0;
    }
  }
}
article{

  footer{
    margin-top: 5px;
    display: inline;

    a{
      color: $brand-red;
      font-weight: bold;

      &:after{
        content: '>>';
      }
    }
  }

  h2{
    font-weight: bold;
    display: inline-block;
    a{
      font-size: 18px;
      color: #7c1a1b;
      text-decoration: none;
      &:hover,
      &:focus {
        color: lighten(#7c1a1b, 10%);
        text-decoration: none;
      }
    }
  }

  header{
    display: inline;
    h2{
      margin: 0;
      font-size: 14px;
    }
  }


  .field-name-field-news-image{
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;

    @media (max-width: $screen-sm-max){
      float: none;
      img{
        margin: 0 auto;
      }
    }
  }
}

.main-content{
 padding-top: 50px;

  .col-md-10{
    border: 1px solid #7c1a1b;
  }


  .events{
    margin-bottom: 40px;
    .block-title{
      font-size: 25px;
      color:  #333333;
      text-transform: uppercase;
      font-weight: 700;
    }

    .well{
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    .views-row{
      margin-bottom: 20px;
    }

    .view-footer{
      a{
        font-weight: 700;
        color:  #333333;
        vertical-align: sub;
      }
    }

    .views-field-title{
      color:  #7c1a1b;
      font-size: 15px;
      font-weight: bold;
    }

    .field-content{
      font-size: 13px;

      div{
        display: inline-block;
      }
    }
  }

  .news-links{

    img{
      margin-right: 10px;
    }

    .link-black{
      br{
        display: none;
      }
    }

  }
}

