.navbar.container {
  margin-top: 0;
  background-color: transparent;
  border: none;
}


@media screen and (min-width: 1200px) {
  .navbar.container {
    max-width: 1440px !important;
  }
}

#navbar{
    padding: 0 !important;
    background: linear-gradient(to bottom, #4b2219, #661e1a);;
}

header {

  @media (max-width: $screen-xs-max){
    padding-left: 15px;
  }

  .navbar-toggle{

  }

  .navbar-nav {
    @media (min-width: 768px) {
      width: 100%;
      text-align: center;

      & > li {
        float: none;
        display: inline-block;
        margin-left: -3px;
      }
    }
      }

  .navbar-header{
    max-width: 100%;
    @media (max-width: $screen-xs-max){
      padding-left: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    .navbar-collapse {
      .navbar-nav {
        li {
          a {
            color: white;
            font-size: 17px;
            text-transform: uppercase;

            &:hover, &:focus{
              background: $gray-dark;
            }

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
              font-size: 15px;
            }
          }
        }
        .active {
          a{
            background-color: #4b565f;
            color: white;
          }
        }
      }
    }
  }

  .top-region {
    .region {
      background-image: linear-gradient(to bottom, #4b2219, #661e1a);

      @media (max-width: $screen-xs-max) {
        margin-bottom: -50px;
      }

    }
  }

  #block-block-4 {
    color: #fff;
    background-image: url(../../../../../images/icons/behind-text.png), linear-gradient(to bottom, #4b2219, #661e1a);
    background-repeat: no-repeat, no-repeat;
    background-position: 140px -120px, 0 0;
    background-size: 400px, cover;


    h2 {
      margin: 30px 0;
      font-size: 50px;
      font-family: 'Tinos';
      text-align: center;
      font-weight: 900;
      padding-left: 15px;

      @media (min-width: 768px) and (max-width: 991px){
        font-size: 30px;
      }

      @media (max-width: 767px) {
        font-size: 12px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      img {
        margin-right: 15px;

        @media (max-width: 767px) {
          width: 30px;
        }
      }
    }
  }
}

#block-block-5 {
  @media (max-width: 767px) {
    display: none;
  }
}

.header-links {
  width: 100%;
  text-align: center;
  font-family: 'Tinos';
  background-color: #596670;
  margin-left: 0;

  li {
    border-right: 1px solid #858c8e;
    margin: 10px 0 10px -3px;

    &:last-child {
      border-right: none;
    }

    a {
      padding: 15px 30px;
      display: block;

      @media (min-width: 768px) and (max-width: 991px){
        padding: 15px 20px;
      }

      color: #fff;
      text-decoration: none;
      &:hover,
      &:focus {
        color: lighten(#fff, 10%);
        text-decoration: none;
      }

      img {
        margin-bottom: 5px;
      }

    }

  }
}

.navbar {
  font-family: 'Tinos';
  margin-top: 0;
  .dropdown-menu {
    background-color: #5a6771;
  }

  .dropdown-menu > li > a {
    color: #fff;
    background-color: #5a6771;

    &:hover {
      color: $brand-red;
    }
  }
}

  .navbar-collapse {
  background-color: #596670;
}

@media (min-width: 767px) {
  .navbar {
    background-image: linear-gradient(to bottom, #4c2219, #7b1b1c);
  }

  .navbar-collapse .navbar-nav > .active > a, .navbar-collapse .navbar-nav > .active > a:hover, .navbar-collapse .navbar-nav > .active > a:focus {
    background: #5d656c;
    color: white;
  }

  .navbar-default .navbar-brand {
    position: relative;
    top: -3px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #4c2219;
  }

  .navbar .dropdown-menu > li > a {
    background-color: #4c2219;

  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $gray-light;
  }

  .dropdown-menu {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    min-height: 0 !important;
    background-image: linear-gradient(to bottom, #4c2219, #7b1b1c);
  }

  .navbar-toggle{
    margin-right: 0;
    .icon-bar{
      background: white;
    }
  }



  .navbar-collapse .navbar-nav > .active > a, .navbar-collapse .navbar-nav > .active > a:hover, .navbar-collapse .navbar-nav > .active > a:focus {
    background: #5d656c;
    color: white;
  }

  .navbar-default .navbar-brand {
    position: relative;
    top: -3px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #4c2219;
  }

  .navbar .dropdown-menu > li > a {
    background-color: #4c2219;

  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $gray-light;
  }

  .dropdown-menu {
    padding: 0;
  }
}
