.news-section{
  font-size: 18px;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;

  main{
    .row{
      @media (min-width: $screen-sm-min){
        margin-right: -40px;
      }
    }
  }

  img{
    @media (max-width: $screen-sm-max){
      width: 130px;
    }
    @media (max-width: $screen-md-max){
      width: 200px;
    }
  }

  .pull-left{
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .news-header{
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
