.view-item .calendar.calendar-tid .date-display-single,
.view-item .calendar.calendar-tid .date-display-single {
  color: #DADADA;
}

.view-item .calendar.calendar-tid a,
.view-item .calendar.calendar-tid a {
  color: #FFF !important;
}